<li>
	<div class="post-item">
		<a href="/user/<%=articlelist.uid %>"><img class="post-item-avatar" src="<%=articlelist.avatar %>" style="cursor:pointer"/></a>
		<h3 class="post-item-title"><a href="/view/<%=articlelist.id %>"><%=articlelist.title %></a></h3>
		<p class="post-item-snippet"><%=articlelist.resume %></p>
		<span style="color: #B3B3B1;font-size: 14px;"><i class="icons icons-user" id="user"></i><%=articlelist.name %><i class="icons icons-book" id="collect"></i><%=articlelist.album %><i class="replies"><%=articlelist.reply %></i><i class="views"><%=articlelist.view %></i></span>
	</div>
</li>