<li>
    <a href="javascript:;" title="<%=salbumlist.info %>">
        <div class="cover" data-id="<%=salbumlist.aid %>">
            <b><%=salbumlist.album %></b>
            <i>创建者:<%=salbumlist.name %></i>
            <i> 文章:<%=salbumlist.num %></i>
        </div>
    </a>
</li>