<!DOCTYPE html>
<html lang="zh-CN">
	<head>   
		<title><%=info.title %>--威武236</title>
        <meta name="keywords" content="<%=info.title %>">
		<meta name="description" content="<%=info.title %>--一个优质文章阅读、写作与分享社区。">
		<meta name="viewport" content="width=320, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">      
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<link rel="stylesheet" type="text/css" href="/stylesheets/main.css">     
		<link rel="stylesheet" type="text/css" href="/stylesheets/article.css">
		<script src="/javascripts/jquery-1.8.2.js"></script>
	</head>
	<body>    
<% include sidenav %>
		<div id="container" class="container">   
			<div class="Wrap">      
				<div id="Author">   
					<a class="avat" href=""><img class="avatar" src="<%=userInfo.avatar %>"></a> 
					<a class="name font-title" href=""><%=userInfo.name %></a>     
					<span class="motto" title="座右铭">威武236</span>    
					<ul class="count font-icon">  
						<li><i class="icons icon-eye-open"></i><i><%=info.view %></i>浏览</li>   
						<li><i class="icons icon-thumbs-up"></i><i><%=info.up %></i>推荐</li>    
					</ul>    
				</div>  
				<div id="Paper">   
					<p class="topop font-icon"> 
						<a class="collect" title="分类" href=""><i class="icons icon-bookmark"></i>文章</a>   
					</p>    
					<h1 id="Title" class="font-title" article_id="280" author_id="367"><%=info.title %></h1>  
					<div id="Text" class="content articleView">        
						<div class="part"><%-info.content %></div>   
					</div>   
					<div id="Option">   
						<div class="recom"><!--推荐-->    
							<button class="green" actext="&lt;i&gt;&lt;/i&gt;已推荐"><i class="icons icon-thumbs-up"></i>推荐此文</button>    
							<a href="" user_id="1" title="杨捷"><img class="avatar" src="/images/43_b.jpg"></a>   
						</div>     
						<div class="clear"></div> 
					</div>   
					<p class="recom_title">你还可以看看这些文章：</p>   
					<div class="recom_list"><!--推荐文章--> 
						<%- partial('partials/randlist',rand) %>
					</div>    
				</div>    
			</div> 
			<% include public/footer %>
		</div> 
		
		<script src="/javascripts/func.js"></script>
		<script src="/javascripts/main.js"></script>
	</body>
</html>